<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="#{home.page.title}">Koop ticket</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body class="bg-gray-100">
    <nav class="bg-gray-800 p-4">
      <div
        class="container mx-auto text-xl flex items-center justify-between space-x-8"
      >
        <div class="text-white font-bold text-xl">
          <a th:href="@{/home}" class="hover:text-gray-400 m-0"
            >SummerFest '24</a
          >
        </div>
        <div
          th:if="${#authorization.expression('hasRole(''USER'')') and ticketsByUser.size() > 0}"
          class="text-white font-bold text-xl m-0"
        >
          <a th:href="@{/mijnticketten}" class="hover:text-gray-400 m-0" th:text="#{nav.MijnTicketten}"
            ></a
          >
        </div>

        <form th:action="@{/logout}" method="post">
          <button type="submit" class="text-white text-2xl hover:text-gray-400">
            <i class="fas fa-sign-out-alt"></i>
          </button>
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
        </form>
      </div>
    </nav>
    <section class="p-8">
      <p th:text="#{festival.info(${festival.naam}, ${aantalBeschikbareTickets})}"></p>

      <form th:action="@{/ticket/kopen}" method="post">
        <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"
        />
        <input
          type="hidden"
          th:name="festivalId"
          th:value="${festival.id}"
        />
        <input
          type="number"
          min="1"
          th:name="aantalTickets"
          th:max="${maxAantalTickets}"
          required
        />
        <button type="submit" th:text="'Submit'"></button>
      </form>
    </section>
  </body>
</html>
