<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="#{home.page.title}">Wijzig Festival Planning</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
  </head>
  <body class="bg-gray-100">
    <nav class="bg-gray-800 p-4">
      <div
        class="container mx-auto text-xl flex items-center justify-between space-x-8"
      >
        <div class="text-white font-bold text-xl">
          <a th:href="@{/home}" class="hover:text-gray-400 m-0"
            >SummerFest '24</a
          >
        </div>
        <div
          th:if="${#authorization.expression('hasRole(''USER'')') and (ticketsByUser?.size() ?: 0) > 0}"
          class="text-white font-bold text-xl m-0"
        >
          <a th:href="@{/mijnticketten}" class="hover:text-gray-400 m-0"
            >Mijn ticketten</a
          >
        </div>

        <form th:action="@{/logout}" method="post">
          <button type="submit" class="text-white text-2xl hover:text-gray-400">
            <i class="fas fa-sign-out-alt"></i>
          </button>
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
        </form>
      </div>
    </nav>
    <section class="p-8">
      <h1
        th:text="${festival.naam}"
        class="text-center text-2xl uppercase font-semibold mb-5"
      ></h1>

      <div
        th:if="${message}"
        class="px-4 py-3 bg-green-400 text-white flex justify-between rounded mb-4"
      >
        <div class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-7 w-7 mr-6"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"
            />
          </svg>
          <p th:text="${message}"></p>
        </div>
        <button class="text-green-100 hover:text-white">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>

      <table class="min-w-full leading-normal">
        <thead>
          <tr class="bg-gray-800 text-white">
            <th
              class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider"
            >
              Naam
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider"
            >
              Startuur
            </th>
            <th
              class="px-5 py-3 border-b-2 border-gray-200 text-left text-xs font-semibold uppercase tracking-wider"
            >
              Acties
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            th:each="optreden : ${optredens}"
            class="bg-white hover:bg-gray-100"
          >
            <td
              class="px-5 py-5 border-b border-gray-200 text-sm"
              th:text="${optreden.naam}"
            ></td>
            <td
              class="px-5 py-5 border-b border-gray-200 text-sm"
              th:text="${optreden.startuur}"
            ></td>
            <td class="px-5 py-5 border-b border-gray-200 text-sm">
              <form
                th:action="@{/wijzigplanning/{festivalId}/deleteOptreden/{optredenId}(festivalId=${festival.id},optredenId=${optreden.id})}"
                method="post"
              >
                <input
                  type="hidden"
                  th:name="${_csrf.parameterName}"
                  th:value="${_csrf.token}"
                />
                <button
                  type="submit"
                  class="text-white bg-red-600 p-2 rounded-md transform transition-transform duration-300 hover:scale-110"
                >
                  Delete
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>

      <form
        th:action="@{/wijzigplanning/{festivalId}/addOptreden(festivalId=${festival.id})}"
        th:object="${nieuwOptreden}"
        method="post"
        class="mt-8 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
      >
        <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"
        />
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="naam">
            Naam
          </label>
          <div
            th:if="${#fields.hasErrors('naam')}"
            th:errorclass="error"
            th:errors="*{naam}"
            class="text-red-500 text-xs italic"
          ></div>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="naam"
            name="naam"
            th:field="*{naam}"
            type="text"
            placeholder="Naam van het optreden"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="startuur"
          >
            Startuur
          </label>
          <div
            th:if="${#fields.hasErrors('startuur')}"
            th:errorclass="error"
            th:errors="*{startuur}"
            class="text-red-500 text-xs italic"
          ></div>

          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="startuur"
            name="startuur"
            th:field="*{startuur}"
            type="time"
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="subgenres"
          >
            Subgenres
          </label>
          <div
            th:if="${#fields.hasErrors('subgenreIds')}"
            th:errorclass="error"
            th:errors="*{subgenreIds}"
            class="text-red-500 text-xs italic"
          ></div>

          <select
            multiple
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="subgenres"
            name="subgenres"
            th:field="*{subgenreIds}"
          >
            <option
              th:each="subGenre : ${subGenres}"
              th:value="${subGenre.id}"
              th:text="${subGenre.naam}"
            >
              SubGenre
            </option>
          </select>
        </div>
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="festivalNummer1"
          >
            Festival Nummer 1
          </label>
          <div
            th:if="${#fields.hasErrors('festivalNummer1')}"
            th:errorclass="error"
            th:errors="*{festivalNummer1}"
            class="text-red-500 text-xs italic"
          ></div>

          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="festivalNummer1"
            name="festivalNummer1"
            th:field="*{festivalNummer1}"
            type="number"
            placeholder="1000"
            required
          />
        </div>
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="festivalNummer2"
          >
            Festival Nummer 2
          </label>
          <div
            th:if="${#fields.hasErrors('festivalNummer2')}"
            th:errorclass="error"
            th:errors="*{festivalNummer2}"
            class="text-red-500 text-xs italic"
          ></div>

          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="festivalNummer2"
            name="festivalNummer2"
            th:field="*{festivalNummer2}"
            type="number"
            placeholder="1000"
            required
          />
        </div>
        <div class="flex items-center justify-between">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            Voeg Optreden Toe
          </button>
        </div>
      </form>
    </section>
  </body>
</html>
